@page "/produtos"

@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db
@inject NavigationManager nav


<h3>Produtos</h3>

<AuthorizeView Roles="Administrador">
    <button class="btn btn-link p-0 mb-2" title="Novo modo de entrega" @onclick="Criar">
        <img src="img/novo.png" alt="Novo" style="width:32px;height:32px;" />
    </button>
</AuthorizeView>

@if (produtos is null)
{
    <p>A carregar...</p>
}
else if (!produtos.Any())
{
    <div class="alert alert-warning">Nenhum produto encontrado.</div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Preço Base</th>
                <th>Percentagem</th>
                <th>Preço Final</th>
                <th>Modo de Entrega</th>
                <th style="width: 120px;">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in produtos)
            {
                <tr>
                    <td>@p.Id</td>

                    <td>
                        <img src="img/@p.Imagem" width="60" class="img-thumbnail" />
                    </td>
                    <td>@p.Nome</td>
                    <td>@p.Categoria?.Nome</td>
                    <td>@p.PrecoBase €</td>
                    <td>@p.Percentagem %</td>
                    <td>@p.PrecoFinal €</td>
                    <td>@p.ModoEntrega?.Tipo</td>
                    <td>
                        <AuthorizeView Roles="Administrador">
                        <button class="btn btn-warning btn-sm"
                                @onclick="() => Editar(p.Id)">
                            Editar
                        </button>
                        <button class="btn btn-danger btn-sm ms-1"
                                @onclick="() => Apagar(p.Id)">
                            X
                        </button>
						</AuthorizeView>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Produtos>? produtos;

    protected override void OnInitialized()
    {
        produtos = db.Produtos
                     .Include(p => p.Categoria)
                     .Include(p => p.ModoEntrega)
                     .OrderBy(p => p.Nome)
                     .ToList();
    }

    void Criar()
    {
        nav.NavigateTo("/produtos/criar");
    }

    void Editar(int id)
    {
        nav.NavigateTo($"/produtos/editar/{id}");
    }

    void Apagar(int id)
    {
        var p = db.Produtos.Find(id);
        if (p is null) return;

        db.Produtos.Remove(p);
        db.SaveChanges();

        produtos!.Remove(p);
    }
}
